h1 {
    color: navajowhite;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: relative;
    font-family: 'Bungee', cursive;
}

h1:hover {
    background-color: black;
    border: solid maroon 5px;
    transition: 0.5s all;
}

header {
    width: 650px;
    margin: auto;
}

#monologue {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: aqua;
    background-color: black;
    border: solid orange 5px;
    width: 500px;
    text-align: center;
    padding: 10px;
    transition: 1s all;
}

#monologue:hover {
    background-color: forestgreen;
    transition: 1s all;
}

body {
    background-image: url(images/space.png);
}

a:link {
    color: azure;
}

a:visited {
    color: darkorange;
}

.nav {
    width: 100%;
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block;
}

.image {
    text-align: center;
}

nav ul li {
    float: left;
    height: 20px;
    width: auto;
    margin-right: 20px;
    position: relative;
    border: 5px solid black;
    border-radius: 10px;
    background-color: maroon;
    transition: 1s all;
}

.video {
    text-align: center;
}

p {
    font-family: "IM Fell DW Pica SC", serif;
}

.shouting {
    background-image: url("images/screaming.gif");
}

.ytplayer {
    pointer-events: none;
}

h2 {
    text-align: center;
    color: darkorange
}

.command li {
    text-align: center;
    color: darkorange;
    width: 400px;
    margin: auto
}

nav ul li:hover {
    border: 5px solid black;
    background-color: navy;
    transition: 1s all;
}

footer {
    text-align: center;
    color: aqua;
}

.commandments{
    background-color: black;
    border: maroon solid 5px;
}